@media screen and (max-width:480px){
  @font-face{
    font-family:'Ubuntu-R';
    src:url('fonts/Ubuntu-R.ttf');
  }
  @font-face{
    font-family:'UbuntuMono-R';
    src:url('fonts/UbuntuMono-R.ttf');
  }
  @font-face{
    font-family:'Ubuntu-B';
    src:url('fonts/Ubuntu-B.ttf');
  }
  body{
    font-family:'Ubuntu','文泉驛微米黑','Microsoft YaHei','蘭亭黑';
  }
  .well{
    border:0;
  }
  .page{
    overflow:hidden;
    display:none;
  }
  #index-page{
    display:block;
  }
  #main-logo{
    position:absolute;
    top:25%;
    left:7%;
    font-size:60px;
    padding:5px;
    text-align:center;
    transition:2s;
    -webkit-transform:rotate(-5deg);
  }
  #start-button{
    position:absolute;
    top:50%;
    left:55%;
    width:100px;
    height:100px;
    font-size:30px;
    border:solid white 5px;
    padding-top:20px;
    border-radius:50%;
  }
  .tool{
    font-size:35px;
    position:absolute;
    top:75%;
    left:20%;
    cursor:pointer;
  }
  .tool-control{
    display:none;
    font-size:20px;
    position:absolute;
    top:70%;
    left:25%;
  }
  .tool-control i{
    margin: 0 10px;
    cursor:pointer;
  }
  .banner{
    position:absolute;
    width:100%;
    height:25%;
    background:rgba(0,0,0,0.6);
    color:white;
    text-align:center;
    top:30%;
    left:0;
  }
  #second-page h2{
    font-size:50px;
    padding-top:10px;
  }
  .setsumei{
    display:none;
  }
  .setsumei p{
    margin-bottom:20px;
  } 
  .block{
    position:absolute;
    border:solid white 5px;
    background:#E6E6FA;
    border-radius:10px;
    width:20%;
    height:10%;
    top:20%;
    text-align:center;
    font-size:25px;
    padding-top:13px;
  }
  .time-block{
    left:25%;
  }
  .score-block{
    left:57%;
  }
  #fast-button{
    position:absolute;
    width:120px;
    height:120px;
    border-radius:50%;
    top:43%;
    left:35%;
    border:solid white 8px;
    color:white;
    text-align:center;
    font-size:47px;
    padding-top:20px;
  }
  .fail-banner{
    display:none;
    background:rgba(255,0,0,0.5);
  }
  .fail-banner h2{
    font-size:40px;
  }
  .fail-banner a{
    margin:0 15px 0 15px;
  }
  .fail-banner i{
    font-size:30px;
    color:white;
  }
  .success-banner{
    display:none;
    background:rgba(0,255,0,0.5);
  }
  .success-banner h2{
    font-size:40px;
  }
  .success-banner a{
    margin:0 15px 0 15px;
  }
  .success-banner i{
    font-size:30px;
    color:white;
  }
  #mov-button{
    position:absolute;
    width:60px;
    height:60px;
    border-radius:50%;
    border:solid 5px white;
    top:40%;
    left:48.5%;
  }

  /* progress page */
  #progress-list{
    text-align:center;
  }
  .circle{
    height:150px;
    width:150px;
    border:solid white 5px;
    background:grey;
    border-radius:50%;
    display:inline-block;
    position:relative;
    text-align:center;
    font-size:20px;
    color:white;
    font-weight:bold;
    cursor:pointer;
  }
  .circle p{
    margin-top:55px;
  }
  .activate{
    background:rgba(255,0,0,0.7);
  }

  /* first stage */
  .game-stage{
    position:absolute;
    width:70%;
    height:50%;
    border:solid black 5px;
    left:15%;
    top:10%;
    border-radius:10px;
  }
  #first-button{
    height:100px;
    width:100px;
    border-radius:50%;
    border:solid white 5px;
    position:absolute;
    text-align:center;
    font-size:39px;
    font-weight:bold;
    top:65%;
    left:37%;
    padding-top:16px;
    padding-left:11px;
  }
  .tool-stage{
    left:10%;
    top:90%;
  }
  .tool-control-stage{
    top:90%;
    left:20%;
  }
  /* second stage */
  #second-stage .game-stage{
    height:40%;
  }
  .puchi-matrix{
    border:solid 3px black;
    border-radius:10px;
    width:50%;
    position:absolute;
    top:51%;
    left:25%;
    text-align:center;
  }
  .jumping-matrix{
    height:50px;
    width:50px;
    border-radius:50%;
    border:solid black 3px;
    display:inline-block;
    margin-top:5px;
  }
  #target_nothing{
    height:274px;
    width:242px;
    display:none;
  }
  #target_alian{
    height:274px;
    width:242px;
  }
}
