@font-face{
  font-family:'Ubuntu-R';
  src:url('fonts/Ubuntu-R.ttf');
}
@font-face{
  font-family:'UbuntuMono-R';
  src:url('fonts/UbuntuMono-R.ttf');
}
@font-face{
  font-family:'Ubuntu-B';
  src:url('fonts/Ubuntu-B.ttf');
}
body{
  font-family:'Ubuntu','文泉驛微米黑','Microsoft YaHei','蘭亭黑';
}
.well{
  border:0;
}
.page{
  overflow:hidden;
}
#main-logo{
  position:absolute;
  top:20%;
  left:30%;
  font-size:100px;
  padding:5px;
  text-align:center;
  transition:2s;
  -webkit-transform:rotate(-10deg);
}
#start-button{
  position:absolute;
  top:50%;
  left:55%;
  width:100px;
  height:100px;
  font-size:30px;
  border:solid white 5px;
  padding-top:20px;
  border-radius:50%;
}
#second-page{
  display:none;
}
